In [33]:
from utils import CovidMongo
import pandas as pd
import os
import numpy as np
import json
import re
import os

# --------- Pandas Settings ---------- #
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_colwidth', -1)

/home/ubuntu/.local/share/virtualenvs/covid19-dash-q8XJLdOW/lib/python3.7/site-packages/ipykernel_launcher.py:12: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  if sys.path[0] == '':

## Load Data

In [34]:
def find_csvs(path):
    csv_files = []
    directory = os.path.join("/home/ubuntu/projects/covid19-dash", path)
    for root, dirs, files in os.walk(directory):
        for file in files:
            if file.endswith(".csv"):
                csv_files.append(os.path.join(directory, file))
    return csv_files


csv_files = find_csvs("csse_covid_19_data/csse_covid_19_daily_reports")
csv_files[1]

'/home/ubuntu/projects/covid19-dash/csse_covid_19_data/csse_covid_19_daily_reports/02-25-2020.csv'

In [35]:
def load_csvs(csv_files):
    dfs = []
    for csv_file in csv_files:
        df = pd.read_csv(csv_file)
        dfs.append(df)
    df_total = pd.concat(dfs, ignore_index=True)
    return df_total

df = load_csvs(csv_files)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5890 entries, 0 to 5889
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  3575 non-null   object
 1   Country/Region  5890 non-null   object
 2   Last Update     5890 non-null   object
 3   Confirmed       5871 non-null   float64
 4   Deaths          5449 non-null   float64
 5   Recovered       5502 non-null   float64
 6   Latitude        3072 non-null   float64
 7   Longitude       3072 non-null   float64
dtypes: float64(5), object(3)
memory usage: 368.2+ KB

In [36]:
df.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Anhui,Mainland China,1/23/20 17:00,9.0,NaN,NaN,NaN,NaN
1,Beijing,Mainland China,1/23/20 17:00,22.0,NaN,NaN,NaN,NaN
2,Chongqing,Mainland China,1/23/20 17:00,9.0,NaN,NaN,NaN,NaN
3,Fujian,Mainland China,1/23/20 17:00,5.0,NaN,NaN,NaN,NaN
4,Gansu,Mainland China,1/23/20 17:00,2.0,NaN,NaN,NaN,NaN

## Extract US data

In [37]:
df_usa = df[df['Country/Region'] == 'US']
df_usa

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
31,Washington,US,1/23/20 17:00,1.0,NaN,NaN,NaN,NaN
83,Unassigned Location (From Diamond Princess),US,2020-02-25T21:23:03,36.0,0.0,0.0,NaN,NaN
108,"Chicago, IL",US,2020-02-09T19:03:03,2.0,0.0,2.0,NaN,NaN
109,"San Benito, CA",US,2020-02-03T03:53:02,2.0,0.0,0.0,NaN,NaN
110,"San Diego County, CA",US,2020-02-21T05:43:02,2.0,0.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...
5885,"Los Angeles, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0,NaN,NaN
5886,"Madison, WI",US,2020-02-05T21:53:02,1.0,0.0,0.0,NaN,NaN
5887,"Orange, CA",US,2020-02-01T19:53:03,1.0,0.0,0.0,NaN,NaN
5888,"Seattle, WA",US,2020-02-09T07:03:04,1.0,0.0,1.0,NaN,NaN
5889,"Tempe, AZ",US,2020-02-01T19:43:03,1.0,0.0,0.0,NaN,NaN

In [26]:
df_usa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1218 entries, 31 to 5889
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  1218 non-null   object
 1   Country/Region  1218 non-null   object
 2   Last Update     1218 non-null   object
 3   Confirmed       1218 non-null   float64
 4   Deaths          1188 non-null   float64
 5   Recovered       1188 non-null   float64
 6   Latitude        844 non-null    float64
 7   Longitude       844 non-null    float64
dtypes: float64(5), object(3)
memory usage: 85.6+ KB

### Extract US States

In [52]:
df_usa['Province/State'].value_counts()

Los Angeles, CA                                38
San Benito, CA                                 36
Tempe, AZ                                      35
Santa Clara, CA                                35
Madison, WI                                    34
Boston, MA                                     34
Orange, CA                                     32
Seattle, WA                                    30
Chicago, IL                                    30
San Diego County, CA                           28
San Antonio, TX                                26
Sacramento County, CA                          18
Humboldt County, CA                            18
Lackland, TX (From Diamond Princess)           17
Omaha, NE (From Diamond Princess)              17
Travis, CA (From Diamond Princess)             17
Washington                                     16
Unassigned Location (From Diamond Princess)    15
Illinois                                       13
California                                     12
Arizona                                        12
Snohomish County, WA                           10
San Mateo, CA                                  8
Grafton County, NH                             8
Cook County, IL                                8
Umatilla, OR                                   8
Sarasota, FL                                   8
King County, WA                                8
Hillsborough, FL                               8
Placer County, CA                              8
Sonoma County, CA                              8
Washington County, OR                          7
Maricopa County, AZ                            7
Wake County, NC                                7
Westchester County, NY                         7
Fulton County, GA                              7
Idaho                                          6
New Mexico                                     6
Rhode Island                                   6
Virginia                                       6
Colorado                                       6
New York                                       6
Utah                                           6
Iowa                                           6
Grand Princess                                 6
Florida                                        6
West Virginia                                  6
Oregon                                         6
Mississippi                                    6
Pennsylvania                                   6
Arkansas                                       6
Delaware                                       6
District of Columbia                           6
Orange County, CA                              6
Tennessee                                      6
Oklahoma                                       6
Minnesota                                      6
Maryland                                       6
Texas                                          6
South Dakota                                   6
Louisiana                                      6
Kansas                                         6
Michigan                                       6
Montana                                        6
Massachusetts                                  6
Nevada                                         6
New Hampshire                                  6
Connecticut                                    6
Contra Costa County, CA                        6
Missouri                                       6
Maine                                          6
Providence, RI                                 6
Wisconsin                                      6
New Jersey                                     6
Diamond Princess                               6
North Carolina                                 6
Georgia                                        6
Vermont                                        6
South Carolina                                 6
Kentucky                                       6
Nebraska                                       6
North Dakota                                   6
Indiana                                        6
Wyoming                                        6
Ohio                                           6
Hawaii                                         6
San Francisco County, CA                       5
Harris County, TX                              5
Alaska                                         5
Bergen County, NJ                              5
Williamson County, TN                          5
 Norfolk County, MA                            5
Santa Rosa County, FL                          5
Clark County, NV                               5
Grant County, WA                               5
Fort Bend County, TX                           5
New York City, NY                              4
Washoe County, NV                              4
Chatham County, NC                             4
Summit County, CO                              4
Delaware County, PA                            4
Marion County, IN                              4
Wayne County, PA                               4
Douglas County, NE                             4
Fayette County, KY                             4
Denver County, CO                              4
Montgomery County, MD                          4
New York County, NY                            4
Unassigned Location, WA                        4
Berkeley, CA                                   4
Suffolk County, MA                             4
Ramsey County, MN                              4
Nassau County, NY                              4
Yolo County, CA                                4
Middlesex County, MA                           4
Providence County, RI                          3
Pinal County, AZ                               3
Honolulu County, HI                            3
Davis County, UT                               3
Madera County, CA                              3
Grand Princess Cruise Ship                     3
Fairfield County, CT                           3
Alameda County, CA                             3
Alabama                                        3
Pierce County, WA                              3
Broward County, FL                             3
Douglas County, CO                             3
Kershaw County, SC                             3
Montgomery County, TX                          3
Santa Clara County, CA                         3
Klamath County, OR                             3
Rockland County, NY                            3
Lee County, FL                                 3
Jackson County, OR                             3
Tulsa County, OK                               3
Cobb County, GA                                3
Clark County, WA                               3
Jefferson County, WA                           3
Saratoga County, NY                            3
Plymouth County, MA                            3
Portland, OR                                   3
El Paso County, CO                             3
Charleston County, SC                          3
Okaloosa County, FL                            2
Fairfax County, VA                             2
Harford County, MD                             2
Johnson County, KS                             2
Suffolk County, NY                             2
Virgin Islands, U.S.                           2
Norfolk County, MA                             2
Puerto Rico                                    2
Davidson County, TN                            2
Floyd County, GA                               2
Riverside County, CA                           2
Fresno County, CA                              2
Volusia County, FL                             2
Unknown Location, MA                           2
Manatee County, FL                             2
Ulster County, NY                              2
Kittitas County, WA                            2
Montgomery County, PA                          2
Hudson County, NJ                              2
Washington, D.C.                               2
Berkshire County, MA                           2
Shelby County, TN                              2
Spokane County, WA                             2
Rockingham County, NH                          2
Polk County, GA                                2
St. Louis County, MO                           2
Douglas County, OR                             2
Marion County, OR                              2
Hendricks County, IN                           2
Queens County, NY                              1
Jefferson Parish, LA                           1
Norwell County, MA                             1
Guam                                           1
Santa Cruz County, CA                          1
Bennington County, VT                          1
Shasta County, CA                              1
Collin County, TX                              1
Unassigned Location, VT                        1
Ashland, NE                                    1
Carver County, MN                              1
Travis, CA                                     1
Jefferson County, KY                           1
Chicago                                        1
Cherokee County, GA                            1
Charlotte County, FL                           1
Johnson County, IA                             1
Harrison County, KY                            1
Lackland, TX                                   1
Spartanburg County, SC                         1
Name: Province/State, dtype: int64

### Find NAs

In [41]:
df_usa.isna().sum()

Province/State    0
Country/Region    0
Last Update       0
Confirmed         0
Deaths            30
Recovered         30
Latitude          374
Longitude         374
dtype: int64

## Remove Diamond Princess

In [49]:
df["Province/State"].str.lower().str.startswith("diamond")

2315